In [37]:
import pandas as pd

test_data = pd.read_csv('test.csv')
train_data = pd.read_csv('train.csv')

print(train_data.columns)

Index(['id', 'rank_team1', 'total_points_team1', 'rank_team2',
       'total_points_team2', 'is_team1_won'],
      dtype='object')

In [39]:
y = train_data.is_team1_won
train_features = ['rank_team1', 'total_points_team1', 'rank_team2',
       'total_points_team2']
X = train_data[train_features]
test_features = ['rank_team1', 'total_points_team1', 'rank_team2',
       'total_points_team2']
A = test_data[test_features]
X.describe()

         rank_team1  total_points_team1    rank_team2  total_points_team2
count  11087.000000        11087.000000  11087.000000        11087.000000
mean      75.337242          155.472106     78.099305          147.358674
std       50.912944          303.895419     51.868420          291.028305
min        1.000000            0.000000      1.000000            0.000000
25%       32.000000            0.000000     35.000000            0.000000
50%       69.000000            0.000000     71.000000            0.000000
75%      111.000000          185.920000    115.000000          167.660000
max      208.000000         1775.030000    209.000000         1765.050000

In [18]:
X.head()

   rank_team1  total_points_team1  rank_team2  total_points_team2
0        38.0                0.00        30.0                0.00
1        11.0                0.00        18.0                0.00
2        71.0                0.00       123.0                0.00
3       118.0                0.00         3.0                0.00
4        30.0              722.65        56.0              555.61

In [43]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state=1)
train_model = LogisticRegression(random_state = 1)
test_model = LogisticRegression(random_state = 1)
train_model.fit(train_X,train_y)
test_model.fit(train_X,train_y)

C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\Lenovo\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=1, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [53]:
import numpy as np
print(X) 
print("Prediction_match.train_data")
x = np.round(train_model.predict(X))
print(x)
print("Prediction_match.test_data")
a = np.round(test_model.predict(A))
print(a)

       rank_team1  total_points_team1  rank_team2  total_points_team2
0            38.0                0.00        30.0                0.00
1            11.0                0.00        18.0                0.00
2            71.0                0.00       123.0                0.00
3           118.0                0.00         3.0                0.00
4            30.0              722.65        56.0              555.61
5            36.0              713.41        93.0              368.53
6            36.0                0.00        12.0                0.00
7            67.0                0.00        87.0                0.00
8            37.0              712.13        47.0              634.11
9           115.0              290.95        58.0              525.09
10            6.0                0.00        71.0                0.00
11          112.0                0.00       133.0                0.00
12          159.0                0.00       140.0                0.00
13           20.0              883.18       127.0              241.12
14          155.0                0.00       106.0                0.00
15           20.0                0.00        30.0                0.00
16            4.0                0.00        50.0                0.00
17          105.0                0.00       185.0                0.00
18           15.0                0.00        50.0                0.00
19          152.0                0.00       166.0                0.00
20           52.0              593.10        33.0              784.47
21          117.0              280.76       127.0              229.38
22          103.0                0.00        63.0                0.00
23          105.0                0.00       202.0                0.00
24          167.0                0.00        59.0                0.00
25           60.0              488.39       106.0              295.38
26           47.0                0.00        25.0                0.00
27           10.0                0.00        59.0                0.00
28           95.0                0.00       164.0                0.00
29          142.0                0.00       110.0                0.00
...           ...                 ...         ...                 ...
11057       120.0                0.00        73.0                0.00
11058        81.0                0.00        71.0                0.00
11059        32.0                0.00        22.0                0.00
11060        24.0                0.00       108.0                0.00
11061        50.0                0.00       134.0                0.00
11062        47.0                0.00        52.0                0.00
11063        56.0                0.00        71.0                0.00
11064       131.0                0.00        89.0                0.00
11065        46.0                0.00        45.0                0.00
11066       153.0              124.46       140.0              160.98
11067       139.0                0.00        56.0                0.00
11068        75.0                0.00       115.0                0.00
11069       156.0                0.00       148.0                0.00
11070        73.0                0.00        30.0                0.00
11071        67.0                0.00        40.0                0.00
11072        50.0                0.00       132.0                0.00
11073        76.0              468.85        42.0              650.87
11074        71.0                0.00        87.0                0.00
11075        51.0                0.00         9.0                0.00
11076        23.0                0.00        47.0                0.00
11077       195.0                0.00        82.0                0.00
11078       135.0                0.00        46.0                0.00
11079        48.0                0.00        63.0                0.00
11080        43.0                0.00         8.0                0.00
11081        42.0                0.00         8.0                0.00
11082        61.0                0.00         2.0                0.00
11083        65.0                0.00       109.0                0.00
11084       122.0                0.00        48.0                0.00
11085       102.0              338.06       167.0              128.20
11086        18.0              965.37         9.0             1199.88

[11087 rows x 4 columns]
Prediction_match.train_data
[0 0 1 ... 0 1 0]
Prediction_match.test_data
[0 0 0 ... 1 1 0]